# build directorys
/build.*/
/.fakeroot.*

# automatically downloaded source files
/sources/
/.stamps/

# prebuild target binarys to provide
/target/

# scripts for getting and packing source packages
/tools/mkpkg/*
!/tools/mkpkg/mkpkg_*

# mkpkg temp
mkpkg-temp

# private working directory
/.work/

# symlinks...
/sources
/.work

# backup files
*.orig

# original OpenELEC version file
# (will be generated on build)
/config/version
/config/rasplex

# Image output folder
/tmp
/rasplex-installer
